# SYSTEM DEFINED FUNCTIONS VS USER DEFINED FUNCTIONS

In [ ]:
# SYSTEM DEFINED FUNCTIONS

In [ ]:
import pandas as pd
prod_sales=pd.DataFrame({'product':['apple','dell','lenovo','hp','acer','samsung'],
                     'jan_sales':[200,200,500,900,230,560],
                     'feb_sales':[200,340,500,450,230,900],
                     'mar_sales':[240,200,500,980,230,560],
                     'apr_sales':[200,200,490,900,230,510],
                     'may_sales':[300,200,500,900,730,560],
                     'jun_sales':[600,200,500,500,230,510]})
prod_sales

prod_sales_v1=prod_sales.copy()
prod_sales_v1

In [ ]:
prod_sales_v1['avg_sales'] = prod_sales_v1[['jan_sales','feb_sales','mar_sales','apr_sales','may_sales','jun_sales']].mean(axis=1)
prod_sales_v1['total_sales'] = prod_sales_v1[['jan_sales','feb_sales','mar_sales','apr_sales','may_sales','jun_sales']].sum(axis=1)
prod_sales_v1['min_sales'] = prod_sales_v1[['jan_sales','feb_sales','mar_sales','apr_sales','may_sales','jun_sales']].min(axis=1)
prod_sales_v1['max_sales'] = prod_sales_v1[['jan_sales','feb_sales','mar_sales','apr_sales','may_sales','jun_sales']].max(axis=1)
prod_sales_v1

In [ ]:
# OR

In [ ]:
import numpy as np
array_values=['jan_sales','feb_sales','mar_sales','apr_sales','may_sales','jun_sales']

prod_sales_v2=prod_sales.copy()

prod_sales_v2['avg_sales']=prod_sales_v2[array_values].mean(axis=1)
prod_sales_v2['sum_sales']=prod_sales_v2[array_values].sum(axis=1)
prod_sales_v2['min_sales']=prod_sales_v2[array_values].min(axis=1)
prod_sales_v2['max_sales']=prod_sales_v2[array_values].max(axis=1)

prod_sales_v2

In [ ]:
# USER DEFINED FUNCTION

In [ ]:
prod_sales_v3=prod_sales.copy()
array_values=['jan_sales','feb_sales','mar_sales','apr_sales','may_sales','jun_sales']

def sum_all(row):
    return sum(row[array_values])

def min_all(row):
    return min(row[array_values])

def max_all(row):
    return max(row[array_values])

prod_sales_v3['sum_sales']=prod_sales_v3.apply(sum_all,axis=1)
prod_sales_v3['min_sales']=prod_sales_v3.apply(min_all,axis=1)
prod_sales_v3['max_sales']=prod_sales_v3.apply(max_all,axis=1)

prod_sales_v3

# USER DEFINED FUNCTIONS TO A IMPORTING DATAFRAME

In [ ]:
import pandas as pd
MED_2022=pd.read_excel(r'C:\Users\Debendra\BATCH_202207_PYTHON\SESSION-5\Data\DATA-1\MED_STORE_2022.xlsx',sheet_name='MED_AUS_DATA')
MED_2022

In [ ]:
MED_2022_v1=MED_2022[['CUSTOMER_ID','Company','GENDER','Age','STATE_CODE','NO_OF_TRIPS','Spent amount']]
MED_2022_v1

In [ ]:
def age_bucket(x):
    if x < 30:
        x = 'Young-age'
    elif 30 <= x < 40:
        x = 'Mid-young-age'
    elif 40 <= x < 50:
        x = 'Mid-age'
    elif 50 <= x < 60:
        x = 'Mid-old-age'    
    elif x >= 60:
        x = 'Old-age'    
    return x

def visit_bucket(x):
    if x < 30:
        x = 'Casual'
    elif 30 <= x < 40:
        x = 'Advance'
    elif 40 <= x < 50:
        x = 'Power'
    elif x >= 50:
        x = 'Loyal'    
    return x

def spent_bucket(x):
    if x < 300:
        x = 'Retail'
    elif 300 <= x < 1000:
        x = 'Advance'
    elif x >= 1000:
        x = 'Premier'   
    return x

In [ ]:
MED_2022_v1['customer_age_bucket'] = MED_2022_v1['Age'].apply(age_bucket)
MED_2022_v1['customer_visit_bucket'] = MED_2022_v1['NO_OF_TRIPS'].apply(visit_bucket)
MED_2022_v1['customer_spent_bucket'] = MED_2022_v1['Spent amount'].apply(spent_bucket)
MED_2022_v1

# USE OF LAMBDA FUNCTION FOR FIELD ARRAY CALCULATION

In [ ]:
import pandas as pd
import numpy as np

prod_sales=pd.DataFrame({'product':['apple','dell','lenovo','hp','acer','samsung'],
                     'sales':[200,200,500,900,230,560]}
)
prod_sales

prod_sales_v1=prod_sales.copy()

prod_sales_v1['add_value'] = prod_sales_v1['sales'].apply(lambda x: x + 100)
prod_sales_v1['sub_value'] = prod_sales_v1['sales'].apply(lambda x: x - 100)
prod_sales_v1['mult_value'] = prod_sales_v1['sales'].apply(lambda x: x * 100)
prod_sales_v1['div_value'] = prod_sales_v1['sales'].apply(lambda x: x / 100)
prod_sales_v1

# GLOBAL VS LOCAL VARIABLE

In [ ]:
import pandas as pd
import numpy as np

company = 'GENO'; # This is global variable.
# Function definition is here
def select( value ):
   # Add both the parameters and return them."
   company = 'value'; # Here total is local variable.
   print ("Inside the function local company_value : ", value)
   return company;

# Now you can call sum function
select( 'RELEGARE');
print ("Outside the function global company_value : ", company )

In [ ]:
# CALLING GLOBAL MACRO VARIABLE

list_vars=['CUSTOMER_ID','Company','GENDER','Age','STATE_CODE','Spent amount']
med_2022_v2=MED_2022[list_vars][(MED_2022['Company']==company)]
med_2022_v2

# SOME INTERVIEW ASKED QUESTIONS

In [ ]:
# HOW TO CHECK NUMBER IS PRIME OR NOT

num = 12
# If given number is greater than 1
if num > 1:
    # Iterate from 2 to n / 2
    for i in range(2, int(num/2)+1):
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

In [ ]:
# HOW TO CHECK NUMBER IS EVEN OR ODD

# A simple Python function to check
# whether x is even or odd
 
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")
 
 
# Driver code to call the function
evenOdd(12)
evenOdd(13)

# HOW TO SCHEDULE A PYTHON PROGRAM

In [ ]:
# schedule a python code
# pip install schedule

import schedule
import time

def run_code():
    print ('1. DV Analytics in Bangalore')
    print ('2. DV Analytics is a Data Science Training Institute')
    
schedule.every(5).seconds.do(run_code)

while 1:
    schedule.run_pending()
    time.sleep(1)

# HOW TO AUTOMATE A PYTHON REPORT TO BE SENT AN EMAIL

In [ ]:
# pip install naas-drivers
# pip install naas

import naas

email_to = "debendra33@gmail.com"
subject = "hi how are you dear"
content = "are you coming to the class"
content = print(Report)

naas.notifications.send(email_to,subject,content)

# HOW TO READ MULTIPLE FILES FROM A FOLDER TO APPEND AND GET INTO A SINGLE DATAFRAME

In [ ]:
import pandas as pd
import glob

path=r'C:\Users\Debendra\BATCH_202207_PYTHON\SESSION-5\Data\ALL_CSV_FILE'

  
# csv files in the path
files = glob.glob(path + "\*.csv")
  
# defining an empty list to store 
# content
med_all = pd.DataFrame()
content = []
  
# checking all the csv files in the 
# specified path
for filename in files:
    
    # reading content of csv file
    # content.append(filename)
    df = pd.read_csv(filename, index_col=None)
    content.append(df)
  
# converting content to data frame
med_all = pd.concat(content)
print(med_all)

med_all.to_excel(r'C:\Users\Debendra\BATCH_202207_PYTHON\SESSION-5\Data\A4.OUTPUT\med_all.xlsx',index=None)

# HOW TO READ DATA FROM AN EXCEL FILE WITH MULTIPLE TABS

In [ ]:
import pandas as pd
all_data=pd.read_excel(r'C:\Users\Debendra\BATCH_202207_PYTHON\SESSION-5\Data\ALL_EXCEL_TABS\MED_ALL_2022.xlsx',sheet_name=['MED1','MED2','MED3','MED4','MED5','MED6','MED7','MED8','MED9'])

med_appolo=all_data.get('MED1')
med_cipla=all_data.get('MED2')
med_appolo

In [ ]:
import pandas as pd
all_data=pd.read_excel(r'C:\Users\Debendra\BATCH_202207_PYTHON\SESSION-5\Data\ALL_EXCEL_TABS\MED_ALL_2022.xlsx',sheet_name=['MED1','MED2','MED3','MED4','MED5','MED6','MED7','MED8','MED9'])

all_data

In [ ]:
# OR

In [ ]:
import pandas as pd
all_data=pd.read_excel(r'C:\Users\Debendra\BATCH_202207_PYTHON\SESSION-5\Data\ALL_EXCEL_TABS\MED_ALL_2022.xlsx',sheet_name=None)

all_data

In [ ]:
med_all=pd.concat(all_data[frame] for frame in all_data.keys())

med_all

# HOW TO EXPORT AND STORE MULTIPLE DATAFRAMES INTO AN EXCEL FILE WITH MULTIPLE TABS

In [ ]:
import pandas as pd
all_data=pd.read_excel(r'C:\Users\Debendra\BATCH_202207_PYTHON\SESSION-5\Data\ALL_EXCEL_TABS\MED_ALL_2022.xlsx',sheet_name=['MED1','MED2','MED3','MED4','MED5','MED6','MED7','MED8','MED9'])

med_appolo=all_data.get('MED1')
med_cipla=all_data.get('MED2')
med_dr_reddy=all_data.get('MED3')
med_dr_reddy

In [ ]:
all_datasets={'MED1':med_appolo,'MED2':med_cipla,'MED3':med_dr_reddy}

writer=pd.ExcelWriter(r'C:\Users\Debendra\BATCH_202207_PYTHON\SESSION-5\Data\A4.OUTPUT\med_all_exp.xlsx',engine='xlsxwriter')
for sheet_name in all_datasets.keys():
    all_datasets[sheet_name].to_excel(writer,sheet_name=sheet_name,index=False)

writer.save()